<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AngularJS Tutorial</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="index.js"></script>
</head>
<body ng-controller="myController">
  <div>
    {{ message }}
  </div>
  <div>
    First name: <input type="text" ng-model="employee.firstName"> <br>
    Last name: <input type="text" ng-model="employee.lastName"> <br>
    Gender: <input type="text" ng-model="employee.gender"> <br>
  </div>
  <div>Info:</div>
  <div>
    First name: {{ employee.firstName }} <br>
    Last name: {{ employee.lastName }} <br>
    Gender: {{ employee.gender }} <br>
  </div>
</body>
</html>