<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AngularJS Tutorial</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="index.js"></script>
</head>
<body ng-app="scopeDemo">
  <div ng-controller="classController">
    <input type="text" ng-model="name">
    <button ng-click="sayHello()">Hello</button>
    <h2>{{ name }}</h2>
    <p>{{ test }}</p>
  </div>
  <div ng-controller="schoolController">
    <input type="text" ng-model="name">
    <button ng-click="sayHello()">Hello</button>
    <h2>{{ name }}</h2>
    <p>{{ test }}</p>
  </div>
</body>
</html>